extends ./views/layout.pug

block title
  title Frontend Mentor | IP Address Tracker

block content
  //- include views/mixins/my-mixin

  main.wrapper
    .top
      section.search
        h1.search__title IP Address Tracker
        
        form.search__form
          input.search__input(type="text" name="ip" placeholder="Search for any IP address or domain")
          button.search__button(type="submit")
            img.search__icon(src="./img/icon-arrow.svg" alt="")

      section.content
        article.content__data
          h2.content__title IP address
          p.content__ip-address

        article.content__data
          h2.content__title Location
          p.content__location

        article.content__data
          h2.content__title Timezone
          p.content__timezone

        article.content__data
          h2.content__title ISP
          p.content__isp

    .bottom  
      #map
